* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family:  'Play', sans-serif, 'Arial';
    background-color: grey;
}

header {
	background-color: blue;;
	height: 300px;
	padding-top: 30px;
	padding-left: 50px;
}
/*header {
	background-image: url(header/black_background_.png);
	height: 300px;
	padding-top: 30px;
	padding-left: 50px;
}*/
